
.container{
    background-color: white;
    margin-top: 5%;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    background-color: transparent;
}

.descripcion{
    text-align: center;
    align-items: center;
    align-content: center;
    display: block;
}

.tittle{
    background-color: transparent;
}

text{
    background-color: transparent;
}

body{
    background-color: darksalmon;
}

h2{
    text-align: left;
}

.content{
    margin: 2%;
}

ul{
    text-align: left;
}

button{
    background-color: greenyellow;
    border-radius: 20px;
}

button:hover{
    background-color: forestgreen;
}